apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: prometheus
  annotations:
    external-dns.alpha.kubernetes.io/target: private-ingress.dtlp.cc
spec:
  rules:
    - host: prometheus.dtlp.cc
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: prometheus
spec:
  entryPoints:
    - web-secure
  routes:
    - kind: Rule
      match: Host(`prometheus.dtlp.cc`)
      services:
        - name: prometheus
          kind: Service
          port: 9090
  tls: {}
