apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - https://github.com/kubernetes-sigs/external-dns/kustomize?ref=v0.20.0

patches:
  - path: deployment-patch.yaml
  - patch: |-
      - op: replace
        path: /metadata/name
        value: external-dns
      - op: replace
        path: /subjects/0
        value:
          kind: ServiceAccount
          name: external-dns
          namespace: kube-system
    target:
      kind: ClusterRoleBinding
      name: external-dns-viewer
