{{ define "title" }}{{ .CommonAnnotations.summary }}{{ end }}

{{ define "body" }}
{{ if gt (len .Alerts.Firing) 0 }}
*Status*: {{ len .Alerts.Firing }} alert(s) firing
{{ else }}
*Status*: {{ len .Alerts.Resolved }} alert(s) resolved
{{ end }}

{{ if .CommonAnnotations.impact }}
*Impact:* {{ .CommonAnnotations.impact -}}
{{ end -}}
{{ if .CommonAnnotations.action }}
*Action:* {{ .CommonAnnotations.action }}
{{ end }}

*Alert Name:* {{ .CommonLabels.alertname -}}
{{ if .CommonLabels.namespace }}
*Namespace:* {{ .CommonLabels.namespace -}}
{{ end -}}
{{ if .CommonLabels.instance }}
*Instance:* {{ .CommonLabels.instance -}}
{{ end -}}
{{ if .CommonAnnotations.dashboard }}
*Dashboard:* {{ .CommonAnnotations.dashboard -}}
{{ end -}}
{{ if .CommonAnnotations.command }}
*Command:* {{ .CommonAnnotations.command -}}
{{ end -}}
{{ if .CommonAnnotations.logs }}
*Logs:* {{ .CommonAnnotations.logs -}}
{{ end -}}

{{ end }}
